  <app-navbar [title]="title">
  </app-navbar>
  <form #dateform="ngForm" (submit)="updatedate(dateform)">	
  <div class="row"  >
  <div class="col-12 greyed">
    <div class="row mt-5">
      <div class="col-12 mt-3">
        <h4 class="text-center text-white">{{title}}</h4>
      </div>
      <div class="col-12">
        <h4 class="text-center otopic">Pick a Date</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-link m-3" routerLink="/access">
              BACK
            </button>
          </div>
          <div class="col-4 text-center">

            <h6 class="text-white">Subtotal : ${{subtotal}}</h6>
          </div>
          <div class="col-4 text-right">
          
              <button class="btn btn-link m-3" routerLink="/time">NEXT</button>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="form-group row  mx-auto">
  <div class="col-md-12">
    <h3 class="text-center">Please choose an available date for this order  </h3> 
  <div class="col-md-12 text-center mt-5">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" name="picker" #picker="ngModel" [(ngModel)]="cli.picker" [min]="minDate" [max]="maxDate" placeholder="Choose a date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>
</div>
</div>
</div>
</div>
</form>