<app-navbar></app-navbar>
<div class="row">
  <div class="jumbotron jumbotron-fluid">
    <img src="assets/image/delivery.png" class="float-right">
    <div class="container text-center">
      <h4>New Order>First Order </h4>
      <p>Product</p>

    </div>
    <br>

    <div class="row">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-sm-4 md-4 col-4 con">

            <a routerLink="/access">
              <h4>BACK</h4>
            </a>

          </div>
          <div class="col-sm-4 md-4 col-4 con">
            <h4>Subtotal :</h4>
          </div>
          <div class="col-sm-4 md-4 col-4 con">
            <a routerLink="/comment">
              <h4>NEXT</h4>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<p>
  date works!
</p>
