<app-navbar [title]="title">
  </app-navbar>
  <form #addonsform="ngForm" (submit)="addonsSubmit(addonsForm)" >
  <div class="row"  >
  <div class="col-12 greyed">
    <div class="row mt-5">
      <div class="col-12 mt-3">
        <h4 class="text-center text-white">{{title}}</h4>
      </div>
      <div class="col-12">
        <h4 class="text-center otopic"> Products</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-link m-3" routerLink="/product">
              BACK
            </button>
          </div>
          <div class="col-4 text-center">
  
              <h6 class="text-white">Subtotal :{{subtotal+(property | async)?.addonsprice}}</h6>
          </div>
          <div class="col-4 text-right">
           
              <button class="btn btn-link m-3" routerLink="/access">NEXT</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mx-auto">

      <div class="col-md-12 mx-auto address">
        <h3 class="text-center">Are there any add-ons You need to apply to this product?</h3> 
 
        <h6 class="text-center">*Please select all that apply.{{addons}}</h6>
        <div class="row test">
          <div class="col-md-6 col-sm-6 col-12 mx-auto">
            <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="toggleClass($event, 50,'Community Shot')">
               Community Shot (+$50)</button>
              <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="toggleClass($event, 65,'Twilight Shot')">
                 Twilight Shot(+$65)</button>
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="toggleClass($event, 75,'Rush Fee')">
                   Rush Fee(+$75)</button>
      
           
            
           
              
             
                    
          </div>
        </div>
         



      </div>
  </div>
</div>
</form>


 

  
  
   

