
<app-navbar
[title]="title"></app-navbar>

        <div class="row greyed mt-5">
                <div class="col-12 py-3">
                   
                        <h4 class="text-center text-white d-none d-sm-block">{{title}}</h4>
                        
                        <p class="text-center"> Products</p>     
                </div>
            </div>


            <div class="row greyed p-2">
                    <div class="col-sm-4 md-4 col-4 pl-4">
          
                      <a routerLink="/squarefeet">
                            <h4>BACK</h4>
                        </a>
          
                    </div>
                    <div class="col-sm-4 md-4 col-4 pl-4">
                      <h4>Subtotal :</h4>
                    </div>
                    <div class="col-sm-4 md-4 col-4 pl-5">
                      <a routerLink="/access"><h4>NEXT</h4></a>
                    </div>
                </div>            

<div class="container-fluid text-center">

  <div class="form-group row">

      <div class="col-md-12 mx-auto address">
        <h3>Are there any add-ons You need to apply to this product?</h3> 
 
        <h6>*Please select all that apply.</h6>
        <div class="row test">
          <div class="col-md-6 col-sm-6 col-12 mx-auto">
                
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off">Community Shot (+$50)
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off">Twilight Shot(+$65)
      
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off" checked> Rush Fee(+$75) 
              </label>
            </div>
            
           
              
             
                    
          </div>
        </div>
         



      </div>
  </div>

</div>

 

  
  
   

