<app-navbar [title]="title">
  </app-navbar>
  <form #dateform="ngForm" (submit)="updatedate(dateform)">	
  <div class="row"  >
  <div class="col-12 greyed">
    <div class="row mt-5">
      <div class="col-12 mt-3">
        <h4 class="text-center text-white mb-4">{{title}}</h4>
      </div>
      <div class="col-12">
        <h4 class="text-center otopic mb-4">Order Complete</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-link m-3" routerLink="/completenew">
              BACK
            </button>
          </div>
          <div class="col-4 text-center">

            <h6 class="text-white">Subtotal : ${{subtotal}}</h6>
          </div>
          <div class="col-4 text-right">
          
           

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 mx-auto my-4">
    <h2 class="comorder">You have placed your order!</h2><br><br>
    <p class="comporder">Please check your email for <br> confirmation and details.<br><span>Your orders (1)</span> have been updated.<br>NOTE: We will contact you to <br> confirm your order and scheduling.<br> Thank you!

    </p>

</div>
<div class="row">
    <button type="button" class="btn btn4 mx-auto" routerLink="/dashboard">BACK TO HOME </button>
   
  </div>
  <div class="row">
      <button type="button" class="btn btn3 mx-auto" routerLink="/placeorder">PLACE NEW ORDER</button>
     
    </div>
</form>

