<app-navbar
[title]="title"></app-navbar>
<form #dateform="ngForm" (submit)="updatedate(dateform)">
  <div class="row greyed mt-3 pt-5">
    <div class="col-12 py-3">
       
            <h4 class="text-center text-white d-none d-md-block d-lg-block d-xl-block">{{title}}</h4>
            
          <p class="text-center pcolor">Order Complete</p>     
    </div>
  </div> 
  <div class="row greyed p-2">
    <div class="col-sm-4 md-4 col-4 justify-content-left">

      <a routerLink="/completenew" class="text-white">
            BACK
        </a>

    </div>
    <div class="col-sm-4 md-4 col-4 justify-content-center">
      <h6 class="text-white">Subtotal : ${{subtotal}}</h6>
    </div>
    
</div> <br><br>
<div class="col-md-6 mx-auto">
    <h2 class="comorder">You have placed your order!</h2><br><br>
    <p class="comporder">Please check your email for <br> confirmation and details.<br><span>Your orders (1)</span> have been updated.<br>NOTE: We will contact you to <br> confirm your order and scheduling.<br> Thank you!

    </p>

</div>
<div class="row">
    <button type="button" class="btn btn1 mx-auto" routerLink="/login">BACK TO HOME </button>
   
  </div>
  <div class="row">
      <button type="button" class="btn btn3 mx-auto" routerLink="/placeorder">PLACE NEW ORDER</button>
     
    </div>
</form>

