h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}

#headerback{

    background-image: url('/assets/image/background.jpg');
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    margin: auto;
    background-size: cover;
}

.btn
	{
        color: #fff !important;
        font-size: 1rem;
		width:8rem;
		
    }
    a {
        color: #F07C49;
    }
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    p{
        color:#F07C49;
    }
  .sidecon{
      padding-left: 6rem;
  }
.numinput{
    width:44vw;
    line-height: 3.5rem;
    border: 2px solid #434343;
}


.slidepara{
    color:#5F5F5F;
}
@media screen and (max-width: 780px) {
    .classab{
       
     top: -44px;
    right: 10px;
   
    bottom: 0;
    z-index: 9949;
    position: absolute;
    }
    .classbb
    {
        margin-top:19px;
    }
    .numinput{
        width:79vw;
        line-height: 3.5rem;
    }
   
    .btn
	    {
            margin-left: -3rem;
            width:7rem;
            margin-top: 0rem;
           
        }
        .sidecon{
            padding-left: 1rem
        }
   
    
    }