<app-navbar>

</app-navbar>
<div class="row">
<form class="col-md-12" #addressForm="ngForm" (submit)="addressSubmit(addressForm)">

    <div class="form-group row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <img src="assets/image/delivery.png" class="float-right img-fluid" alt="delivery" > 
         
                <h4>New Order > First Unit </h4>    
                <br>  
               <p>Property Address</p> 
            
            </div>
            <div class="form-group row">
                <div class="col-sm-4 md-4 col-4 con">
         
                    <a routerLink="/placeorder"> <h4>BACK</h4></a>
                      
                </div>
                <div class="col-sm-4 md-4 col-4 con">
                      <h4>Subtotal :</h4>
                </div>
                <div class="col-sm-4 md-4 col-4 con">
                    <button type="submit" class="btn btn-link" routerLink="/squarefeet" [disabled]="!addressForm.valid">NEXT</button>
                </div>
            </div>
        </div>
      </div>
    <div class="container-fluid text-center" >

        <div class="form-group row">
                
          <div class="col-md-12 mx-auto mt-2">
             
       
             <input type="text" name="street" #street="ngModel" [(ngModel)]="cli.street" placeholder="Street Address" required  class="numinput text-center"><br><br>
             <input type="text" name="city" #city="ngModel" [(ngModel)]="cli.city" placeholder="City, State" required class="numinput text-center"><br><br>
             <input type="text" name="zip" #zip="ngModel" [(ngModel)]="cli.zip" placeholder="Zip Code" required  class="numinput text-center"><br><br>
             <input type="text" name="unit" #unit="ngModel" [(ngModel)]="cli.unit" placeholder="Unit Number" required   class="numinput text-center"><br><br>
              
             
            
             
          </div>
         </div>
       
        </div>
    
</form>
</div>
<div class="col-md-12 text-center">
    <i class="fa fa-angle-up mx-auto"></i>
    <p class="slidepara">Slide to view prices</p>

  </div>
