h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}

#headerback{

    background-image: url('/assets/image/background.jpg');
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    margin: auto;
    background-size: cover;
}

.btn
	{
        color: #fff !important;
        font-size: 1rem;
		
		
    }
    a {
        color: #F07C49;
    }
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    p{
        color:#F07C49;
    }
  .sidecon{
      padding-left: 6rem
  }
.numinput{
    width:44vw;
    line-height: 3.5rem;
    border: 2px solid #434343;
}
.fa{
    font-size: 2rem;
    margin-top: 3rem;
    
}
.slidepara{
    color:#5F5F5F;
}
@media screen and (max-width: 780px) {
    .classab{
       
    top: -44px;
    right: 160px;
   
    bottom: 0;
    z-index: 9949;
    position: absolute;
    }
    .frm 
    {
        margin-top:-8px;
    }
    .classbb
    {
    top: -54px;
    right: 10px;
     height: 10vh;
   
    z-index: 9949;
    position: absolute;
    }
    .numinput{
        width:79vw;
        line-height: 3.5rem;
    }
    .fa{
         
        font-size: 1rem;
        margin-top: -1rem;
        margin-left: -11rem;
        }
    
   
    
    }
    @media screen and (max-width: 380px) {
    .classab{
       
    top: -44px;
    right: 108px;
   
    bottom: 0;
    z-index: 9949;
    position: absolute;
    }
    .frm 
    {
        margin-top:-8px;
    }
    .classbb
    {
    top: -54px;
    right: 10px;
   
   
    z-index: 9949;
    position: absolute;
    height:4vh;
    }
  
    
   
    
    }
    @media screen and (max-width: 420px) {
    .classab{
       
    top: -44px;
    right: 108px;
   
    bottom: 0;
    z-index: 9949;
    position: absolute;
    }
    .frm 
    {
        margin-top:-8px;
    }
    .classbb
    {
    top: -54px;
    right: 10px;
   
   
    z-index: 9949;
    position: absolute;
    height:6vh;
    }
  
    
   
    
    }
     @media screen and (max-width: 330px) {
    .classab{
       
    top: -44px;
    right: 80px;
   
    bottom: 0;
    z-index: 9949;
    position: absolute;
    }
    .frm 
    {
        margin-top:-8px;
    }
    .classbb
    {
    top: -54px;
    right: 10px;
   
   
    z-index: 9949;
    position: absolute;
    height:6vh;
    }
  
    
   
    
    }