<app-navbar [title]="title"></app-navbar>
<div *ngIf="(property | async)?.building == 'Appartment';else otheroption">
    <form class="row mt-5" #addressForm="ngForm" (submit)="addressSubmitapt(addressForm)">
        <div class="col-12 greyed">
            <div class="row">
                <div class="col-12 mt-3">
                    <h3 class="text-center text-white d-none d-md-block text-white">{{title}}</h3>
                </div>
                <div class="col-12">
                    <h4 class="text-center otopic">{{(property | async)?.building}} Address</h4>
                </div>
                <div class="col-12">
                    <div class="row">

                        <div class="col-4">

                            <button class="btn btn-link m-3" routerLink="/unitnumber">
                                BACK
                            </button>



                        </div>
                        <div class="col-4 text-center">


                        </div>
                        <div class="col-4 text-right">
                            
                            <button type="submit" class="btn btn-link m-3 text-white" [disabled]="!addressForm.valid">NEXT</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 mx-auto text-center mt-5">

            <div class="offset-1 col-10 mx-auto mt-5">

                <div *ngIf="(property | async)?.street===undefined;else nostreet">
                    <input type="text" name="street" #street="ngModel" [(ngModel)]="cli.street" placeholder="Street Address" required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nostreet>
                    <input type="text" name="street" #street="ngModel" [(ngModel)]="cli.street" [value]="(property | async)?.street" placeholder="Street Address"
                        required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>
                <div *ngIf="(property | async)?.city===undefined;else nocity">
                    <input type="text" name="city" #city="ngModel" [(ngModel)]="cli.city" placeholder="City, State" required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nocity>
                    <input type="text" name="city" #city="ngModel" [(ngModel)]="cli.city" [value]="(property | async)?.city" placeholder="City, State"
                        required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>
                <div *ngIf="(property | async)?.zip===undefined;else nozip">
                    <input type="text" name="zip" #zip="ngModel" [(ngModel)]="cli.zip" placeholder="Zip Code" required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nozip>
                    <input type="text" name="zip" #zip="ngModel" [(ngModel)]="cli.zip" [value]="(property | async)?.zip" placeholder="Zip Code"
                        required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>
                <div *ngIf="(property | async)?.unit===undefined;else nounit">
                    <input type="text" name="unit" #unit="ngModel" [(ngModel)]="cli.unit"  placeholder="Unit Number"
                        required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nounit>
                    <input type="text" name="unit" #unit="ngModel" [(ngModel)]="cli.unit" [value]="(property | async)?.unit" placeholder="Unit Number"
                        required class="numinput p-3 btn-block text-center">
                </ng-template>
               
                <br>
                <br>
            </div>


        </div>




    </form>
</div>
<ng-template #otheroption>
    <form class="row mt-5" #addressForm="ngForm" (submit)="addressSubmit(addressForm)">
        <div class="col-12 greyed">
            <div class="row">
                <div class="col-12 mt-3">
                    <h4 class="text-center text-white">{{title}}</h4>
                </div>
                <div class="col-12">
                    <h4 class="text-center otopic">{{(property | async)?.building}} Address</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                          <div class="col-4">
                            <button class="btn btn-link m-3" routerLink="/placeorder">
                                BACK
                            </button>
                          </div>
                          <div class="col-4 text-center">


                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" class="btn btn-link m-3" [disabled]="!addressForm.valid">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-center mt-5">
            <div class="offset-1 col-10 mx-auto mt-5">
                <div *ngIf="(property | async)?.street===undefined;else nostreet">
                <input type="text" name="street" #street="ngModel" [(ngModel)]="cli.street" placeholder="Street Address"
                    required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nostreet>
                <input type="text" name="street" #street="ngModel" [(ngModel)]="cli.street" [value]="(property | async)?.street" placeholder="Street Address"
                    required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>
                <div *ngIf="(property | async)?.city===undefined;else nocity">
                <input type="text" name="city" #city="ngModel" [(ngModel)]="cli.city" placeholder="City, State"
                    required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nocity>
                <input type="text" name="city" #city="ngModel" [(ngModel)]="cli.city" [value]="(property | async)?.city" placeholder="City, State"
                    required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>
                <div *ngIf="(property | async)?.zip===undefined;else nozip">
                <input type="text" name="zip" #zip="ngModel" [(ngModel)]="cli.zip" placeholder="Zip Code"
                    required class="numinput p-3 btn-block text-center">
                </div>
                <ng-template #nozip>
                <input type="text" name="zip" #zip="ngModel" [(ngModel)]="cli.zip" [value]="(property | async)?.zip" placeholder="Zip Code"
                    required class="numinput p-3 btn-block text-center">
                </ng-template>
                <br>
                <br>

            </div>


        </div>




    </form>
</ng-template>

<div class="col-md-12 text-center">
    <i class="fa fa-angle-up mx-auto"></i>
    <p class="slidepara">Slide to view prices</p>

</div>