

.navdes
{
    background-color: #F07C49 !important;
    color:#fff;
}

a{
    color:#fff;
}
.btn5{
    background-color: #ACACAC;
    color:#fff;
}
.btn1:hover
{
    background-color:#F07C49 !important;
     
} 
.fa{
    font-size: 1rem;
}