

 <app-navbar></app-navbar>

 <form #commentForm="ngForm" (submit)="updatecomment(commentForm)">
 <div class="form-group row">
 <div class="jumbotron jumbotron-fluid">
    <img src="assets/image/delivery.png" class="float-right">
    <div class="container text-center">
      <h4>New Order > First Unit </h4>      
     <p>Notes</p> 
  
  </div><br>


</div>
</div>
<div class="col-md-6 mx-auto">
    <h1>Please add any additional notes on this order</h1>
    <textarea class="form-control form-rounded" rows="7" name="comment" #comment="ngModel" [(ngModel)]="cli.comment" required></textarea>
  <br />
  
</div>
</form>


  
    

