<app-navbar
[title]="title"></app-navbar>

<form class="row my-5"  #invoiceForm="ngForm" (submit)="invoiceSubmit(invoiceForm)">
        <div class="col-12 greyed">
                <div class="row">
                    <div class="col-12 mt-3 mb-4">
                        <h4 class="text-center text-white mb-4">{{title}}</h4>
                    </div>
                 
                    <div class="col-12">
                        <div class="row">
    
                            <div class="col-4">
    
                                <button class="btn btn-link m-3" routerLink="/placeorder">
                                    BACK
                                </button>
    
    
    
                            </div>
                            <div class="col-4 text-center">
    
                                  
                            </div>
                            <div class="col-4 text-right">
                                
                                    <button class="btn btn-link m-3" routerLink="/address">
                                       SELECT
                                    </button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="row mx-auto my-4">
              <div class="col-md-4 col-4">
                  <img src="/assets/image/background/mobile/Home.png" class="checkimage">
              </div>
              <div class="col-md-4 col-4">
                  <img src="/assets/image/background/mobile/Home.png" class="checkimage">
                </div>
            
                <div class="col-md-4 col-4">
                    <img src="/assets/image/background/mobile/Home.png" class="checkimage">s
                  </div>
                
            
         <button type="button" class="btn btn1 mx-auto">DOWNLOAD</button>
       </div>