

.numinput{
        width:45vw;
        line-height: 2.5rem;
        border: 1px solid #434343;
    }
    .sidecon{
        padding-left: 6rem;
    }

    
    .btn
	{
		color: white;
		background-color:#F07C49 !important;
        padding: 2rem;
         width: 29rem;
        
		
    }
   
   
    @media screen and (max-width: 780px) {
    .btn
	{
		color: white;
		background-color:#F07C49;
        margin-left: -1rem;
         width: 25rem;
    }
    
  .numinput{
            width:52vw;
            line-height: 3.5rem;
            margin-left: -1rem;
          
        }
        
    
       
    
    }
    @media screen and (max-width: 480px) {
        .btn
        {
            color: white;
            background-color:#F07C49;
            padding: 2rem;
            width:17rem;
            
        }
        
     
            
        
           
        
        }
        
