
<app-navbar
[title]="title"></app-navbar>
<div class="row greyed mt-5 pt-5">
  <div class="col-12 py-3">
     
          <h4 class="text-center text-white d-none d-md-block d-lg-block d-xl-block">{{title}}</h4>
          
        <p class="text-center pcolor">property access   </p>     
  </div>
</div> 

  <form #accessForm="ngForm" (submit)="accessSubmit(accessForm)">
    <div class="row greyed p-2">
      <div class="col-sm-4 md-4 col-4 justify-content-left">
  
        <a routerLink="/product" class="text-white">
              BACK
          </a>
  
      </div>
      <div class="col-sm-4 md-4 col-4 justify-content-center">
        <h6 class="text-white">Subtotal : ${{subtotal}}</h6>
      </div>
      <div class="col-sm-4 md-4 col-4 justify-content-right">
        <a routerLink="/date" class="float-right text-white">NEXT</a>
      </div>
  </div>
            <div class="form-group row">
                
                      <div class="col-md-12 mx-auto address">
                        <h3 class="text-center">How will we access the property?
                
                        </h3> 
                 
                        
                        <div class="row test">
                          <div class="col-md-6 col-sm-6 col-12  mx-auto">
                            <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="meetagent()">Meet agent on site</button>
                            <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="lshow = !lshow;lockbox()">Lockbox</button>
                            <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="ashow = !ashow;accesscode()">Access code</button>
                            <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="others()">Others</button>
<!--                             
                            <div *ngIf ="show">
                              <input type="text mx-auto" name="code" placeholder="Code?" #code="ngModel" [(ngModel)]="cli.code" class="numinput text-center" required>
                            </div> -->
                            <div *ngIf="lshow">
                        <input type="text mx-auto" name="lcode" placeholder="Code?" #code="ngModel" [(ngModel)]="cli.lcode" class="numinput text-center"
                          required>
                            </div>
                           
                           
                         </div>
                       </div>
                       </div>
            </div>
            </form>
                
                

 

  
  
   

