h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}

.numinput{
        width:37vw;
        line-height: 2.5rem;
        border: 1px solid #434343;
    }
    .sidecon{
        padding-left: 6rem;
    }

    .slidepara{
        color:#5F5F5F;
    }
    .btn
	{
		color: white;
		background-color:#F07C49 !important;
        padding: 2rem;
         width: 29rem;
        
		
    }
    .active {
        background-color:black;
      }
     
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    p{
        color:#F07C49;
    }


   

   
    
      
        .slidep{
            color:#5F5F5F;

        }

   
  

@media screen and (max-width: 780px) {
    .btn
	{
		color: white;
		background-color:#F07C49;
        margin-left: -1rem;
         width: 21rem;
         margin-bottom: 1rem;
        
        
		
    }
    
  .numinput{
            width:82vw;
            line-height: 3.5rem;
            margin-left: -1rem;
          
        }
        
        .sidecon{
            padding-left: 2rem
        }
       
    
    }