h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}

.numinput{
        width:37vw;
        line-height: 2.5rem;
        border: 1px solid #434343;
    }
    .sidecon{
        padding-left: 6rem;
    }

    .slidepara{
        color:#5F5F5F;
    }
    .btn
	{
		color: white;
		background-color:#F07C49 !important;
        padding: 2rem;
         width: 29rem;
        
		
    }

   
 .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: red !important;
    border-color: #4e555b !important;
}   	
 
   
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    p{
        color:#F07C49;
    }
    .fa{
        font-size: 3rem;
        margin-top: 4rem;
  
        }
      
 

   
  

@media screen and (max-width: 780px) {
    .btn
	{
		color: white;
		background-color:#F07C49;
       
         width: 21rem;
        
        
		
    }
    
    .fa{
         
      
        margin-top: 2rem;
        }
        .numinput{
            width:76vw;
            line-height: 3.5rem;
          
        }
        
        .sidecon{
            padding-left: 3rem
        }
       
    
    }