<app-navbar [title]="title">
  </app-navbar>
  <form #dateform="ngForm" (submit)="updatedate(dateform)">	
  <div class="row"  >
  <div class="col-12 greyed">
    <div class="row mt-5">
      <div class="col-12 mt-3">
        <h4 class="text-center text-white mb-4">{{title}}</h4>
      </div>
      <div class="col-12">
        <h4 class="text-center otopic mb-4">Order Updated</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-link m-3" routerLink="/revieworder">
              BACK
            </button>
          </div>
          <div class="col-4 text-center">

            <h6 class="text-light">Subtotal : <span class="otopic">${{subtotal}}</span></h6>
          </div>
          <div class="col-4 text-right">
          
           

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 mx-auto my-4">
    <h2 class="comorder">Your order has been updated.</h2><br><br>
    <p class="comporder">To add another property or unit to your order,<br> please choose New Order below. Otherwise <br> submit this order.

    </p>

</div>
<div class="row">
    <button type="button" class="btn btn4 mx-auto mt-5" (click)="addanotherunit()">ADD ANOTHER UNIT</button>
   
  </div>
  <div class="row">
      <button type="button" class="btn btn3 mx-auto" (click)="submitorder()">SUBMIT ORDER</button>
     
    </div>
</form>

