<app-navbar [title]="title">
</app-navbar>


<div class="row greyed mt-5 pt-5">
    <div class="col-12 py-3">
       
            <h4 class="text-center text-white d-none d-md-block d-lg-block d-xl-block">{{title}}</h4>
            
          <p class="text-center pcolor">{{(property | async)?.building}} Size</p>     
    </div>
</div>



 

      <div class="row greyed p-2">
          <div class="col-sm-4 md-4 col-4 justify-content-left">

            <a routerLink="/address" class="text-white">
                  BACK
              </a>

          </div>
          <div class="col-sm-4 md-4 col-4 justify-content-center">
      
          </div>
          <div class="col-sm-4 md-4 col-4 justify-content-right">
            <div *ngIf="(property|async)?.squarefeet===undefined;else valids">
              <button class="btn btn-link" (click)="please()"></button>
            </div>
            <ng-template #valids>
              <a routerLink="/product" class="float-right text-white">NEXT</a>
             
            </ng-template>
            
          </div>
      </div>
  

<div class="container-fluid text-center">

  <div class="form-group row">

      <div class="col-12 mx-auto pt-2">
        <h3 class="text-center">How many square feet?
          {{obj}}

        </h3><br>
        <div class="row">
          <div class="offset-1 col-10  mx-auto">
                
            <div *ngIf="(property|async)?.squarefeet==='751-1500';else valid751">
              <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('751-1500')">751-1500 SF</button>
            </div>
            <ng-template>
              <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('751-1500')">751-1500 SF</button>
            </ng-template>
            
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('1501-2250')">1501-2250 SF </button>
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('2251-3000')">2251-3000 SF</button>
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('3001-3750')">3001-3750 SF</button>
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('3751-4500')">3751-4500 SF</button>
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('4501-5250')">4501-5250 SF</button>
            <button type="button" class="btn btn1 p-4 m-2 btn-block" (click)="sfhma('5251')">5251 SF</button>
          </div>
        </div>
         



      </div>
  </div>

</div>


  
 













