

<app-navbar
[title]="title"></app-navbar>


<form class="row my-5"  #addressForm="ngForm" (submit)="addressSubmit(addressForm)">

           

            <div class="col-12 greyed mt-2">
                <div class="row">
                    <div class="col-12 p-4"><h2 class="text-center d-none d-md-block text-white">{{title}}</h2>
                    </div>
                    <div class="col-12"><h4 class="text-center text-white">Number Of Units</h4></div>
                    <div class="col-12">
                    <div class="row">
                        
                        <div class="col-4">
                            <button class="btn btn-link" routerLink="/placeorder">
                                BACK
                            </button>   
                        </div>
                        <div class="col-4 text-center">
                            
                          
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-link float-right"><a (click)="updatetotalunit()">NEXT </a></button>  
                        </div>
                        </div>
                    </div>
                  
                </div>
            </div>
         

            <div class="col-12 mx-auto text-center">

                <div class="col-md-12 mx-auto">

                    <div class="col-md-12 mx-auto mt-2">
                        <h3>How many units are we serving at this property?</h3> 
                  
                        <div class="row">
                          <div class="col-md-12 text-center">
                  
                              
                           <a (click) = "addItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 10 ? '#D5D5D5' : '#F07C49' }"><i class="fa fa-caret-up increbtn" ></i></span></a> 
                        
                           <h3 class="amountdec" >{{totalunits}} </h3> 
                           <a (click)="removeItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 0 ? '#D5D5D5' : '#F07C49'  }"><i class="fa fa-caret-down increbtn"> </i></span></a>   
                    
                  
                          </div>
                  
                        </div>
                    </div>
                   
                </div>
            </div> 
</form>
<div class="col-md-12 text-center">
    <i class="fa fa-angle-up mx-auto"></i>
    <p class="slidepara">Slide to view prices</p>

</div> 