
 
 <app-navbar></app-navbar>
 <form class="row"  #addressForm="ngForm" (submit)="addressSubmit(addressForm)">
 <div class="col-md-12 ">
  <div class="row grey">
                          <div class="col-md-8  mx-auto col-10 classab">
                          
                          
                          
                              <h4 class="text-center">{{title}} </h4>
                              <p class="text-center">Number Of  Units</p> 
                          </div>
                          <div class="col-md-2 col-2 classab">
                              <img src="assets/image/delivery.png" class="float-right img-fluid" alt="delivery">
                          </div>
  </div>

</div>

  
<div class="col-md-12 grey classbb">
 

      <div class="row">
          <div class="col-sm-4 md-4 col-4 sidecon">

              <a routerLink="/placeorder">
                  <h4>BACK</h4>
              </a>

          </div>
          <div class="col-sm-4 md-4 col-4 sidecon">
            <h4>Subtotal :{{amount}}</h4>
          </div>
          <div class="col-sm-4 md-4 col-4 sidecon">
              <button type="submit" class="btn btn-link"><a (click)="updatetotalunit()">NEXT </a></button>  
          </div>
      </div>
  
</div>
<div class="container-fluid text-center" >

  <div class="form-group row address">
          
    <div class="col-md-12 mx-auto mt-2">
      <h3>How many units are we serving at this property?</h3> 

      <div class="row test">
        <div class="col-md-12 text-center">

            
         <a (click) = "addItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 10 ? '#D5D5D5' : '#F07C49' }"><i class="fa fa-caret-up increbtn" ></i></span></a> 
      
         <div class="amountdec" >{{amount}} </div> 
         <a (click)="removeItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 0 ? '#D5D5D5' : '#F07C49'  }"><i class="fa fa-caret-down increbtn"> </i></span></a>   
  

        </div>

      </div>
  </div>
  </div>
</div>	
</form>
<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto faunit"></i>
        <p class="slidepara">Slide to View price</p>
    
      </div>
</div>
    

