

<app-navbar
[title]="title"></app-navbar>


<form class="row my-5"  #addressForm="ngForm" (submit)="addressSubmit(addressForm)">

           

        <div class="col-12 greyed">
                <div class="row">
                    <div class="col-12 mt-3 mb-4">
                        <h3 class="text-center text-white d-none d-md-block text-white">{{title}}</h3>
                    </div>
                    <div class="col-12">
                        <h4 class="text-center otopic mb-4">{{(property | async)?.building}} Number Of Units</h4>
                    </div>
                    <div class="col-12">
                        <div class="row">
    
                            <div class="col-4">
    
                                <button class="btn btn-link m-3" routerLink="/placeorder">
                                    BACK
                                </button>
    
    
    
                            </div>
                            <div class="col-4 text-center">
    
                                  
                            </div>
                            <div class="col-4 text-right">
                                
                                    <button class="btn btn-link m-3" routerLink="/address">
                                       NEXT
                                    </button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
         

            <div class="col-12 mx-auto text-center">

                <div class="col-md-12 mx-auto">

                    <div class="col-md-12 mx-auto mt-2">
                        <h3 class="text-center my-4">How many units are we serving at this property?</h3> 
                  
                        <div class="row">
                          <div class="col-md-12 text-center">
                  
                              
                           <a (click) = "addItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 10 ? '#D5D5D5' : '#F07C49' }"><i class="fa fa-caret-up increbtn" ></i></span></a> 
                        
                           <h3 class="amountdec" >{{totalunits}} </h3> 
                           <a (click)="removeItem()" [disabled] = "buttonstatus" ><span [ngStyle]="{'color': amount === 0 ? '#D5D5D5' : '#F07C49'  }"><i class="fa fa-caret-down increbtn"> </i></span></a>   
                    
                  
                          </div>
                  
                        </div>
                    </div>
                   
                </div>
            </div> 
</form>
