

    <app-admin-header></app-admin-header>
  
    <br>
   
   <div class="row mt-4 ">
       <div class="d-none d-md-block d-lg-block d-xl-block col-md-3">
           <app-admin-sidenav></app-admin-sidenav>
       </div>
       <div class="col-md-9 col-sm-12 my-3 bg-light">
           <div class="row ">
             <div class="col-md-12 p-2 bg-white">
                 <h3 class="text-dark">Orders</h3>
             </div>
        
           </div>
     
           <div class="row">
               <p>Show all users</p>



               <div class="col-12">
                  <!-- Nav pills  Horizontal-->
                  <!-- for desktop -->
                      <div class="d-none d-md-block d-lg-block d-xl-block">
                          <ul class="nav nav-pills nav-fill" role="tablist" id="horizontaltab">
                              <li class="nav-item" >
                                <a class="nav-link active " data-toggle="pill" href="#TODAY">TODAY</a>
                              </li>
                             
                              <li class="nav-item">
                                <a class="nav-link " data-toggle="pill" href="#UPCOMINGEVENT">UPCOMING EVENT</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " data-toggle="pill" href="#COMPLETE">COMPLETE</a>
                              </li>
                             
                            </ul>
                      </div>
                  
                  <!-- 
                  for mobile -->
                  <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none text-center offset-1 col-10">
                      <ul class="nav nav-pills  flex-column" role="tablist" id="horizontaltab">
                          <li class="nav-item p-2" >
                            <a class="nav-link active photo " data-toggle="pill" href="#TODAY">TODAY</a>
                          </li>
                          
                          <li class="nav-item p-2">
                            <a class="nav-link " data-toggle="pill" href="#UPCOMINGEVENT">UPCOMING EVENT</a>
                          </li>
                          <li class="nav-item p-2">
                            <a class="nav-link " data-toggle="pill" href="#COMPLETE">COMPLETE</a>
                          </li>
                        
                      </ul>
                  
                  </div>
                  
                  
                  
                  <!-- Tab panes -->
                  <div class="tab-content priceres" id="horizontalcontent">
                  
                  <div id="TODAY" class="container tab-pane active">
                  <h3 class="text-center">TODAY</h3>
                  
                  <ul class="list-group text-center">
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  </ul>
               
                  
                  
                  </div>
        
                  <div id="UPCOMINGEVENT" class="container tab-pane fade mx-auto"><br>
                  <h3 class="text-center">UPCOMING EVENT</h3>
                  <ul class="list-group text-center">
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>
                  
                  </ul>
                  
                    
                  
                  
                  
                
                  
                  </div>
                  <div id="COMPLETE" class="container tab-pane fade"><br>
                  <h3 class="text-center">COMPLETE</h3>
                  <ul class="list-group text-center">
                  <li class="list-group-item"></li>  
                  <li class="list-group-item"></li> 	
                  <li class="list-group-item"></li>
                  <li class="list-group-item"></li>        
                  <li class="list-group-item"></li>        
                  <li class="list-group-item"></li>        
                  <li class="list-group-item"></li>               
                  
                  </ul>
                  </div>
                
               
                  </div>
                  </div>







           </div>
       
       </div>
   </div>