
<app-navbar [title]="title">
</app-navbar>
<!--/.Navbar-->
          

<div class="row text-center">
  <div class="col-md-12">
    <img src='/assets/image/profile.png' class="img-thumbnail">
    <p>{{name}}</p><hr>  
    </div>
    <div class="col-md-12">
    <p>{{email}}</p><hr>
    <p>Your Real Estate Company</p><hr>
    <p>{{phone}}</p><hr>
    <p>Payment Info: <span>Not set up yet</span></p><hr>
    <button type="button" class="btn btn1" routerLink="/editprofile">Edit Profile</button>
  </div>
</div>
