
.btn1
	{
		color: white;
		background-color:#F07C49;
    
     }
     

.btn
	{
		color: white;
		background-color:#F07C49 !important;
     
         width: 31rem;
        
		
    }
   
    
    p{
        color:#F07C49;
    }
    
       
    
        
  

@media screen and (max-width: 780px) {
    .btn
	{
		
         color: white;
         background-color:#F07C49;
         width:24rem;
         
        
		
    }
   
     
       
    
    }
    @media screen and (max-width: 450px) {
        .btn
        {
            color: white;
            background-color:#F07C49;
           
            width:18rem;
            margin-left: 0rem;
           
            
            
        }
        
       
          
        
        }