<app-navbar [title]="title">
</app-navbar>
<form #timeform="ngForm" (submit)="updatetime(timeform)">	
  <div class="row">
<div class="col-12 greyed">
  <div class="row mt-5">
    <div class="col-12 mt-3">
      <h4 class="text-center text-white">{{title}}</h4>
    </div>
    <div class="col-12">
      <h4 class="text-center otopic">Pick a time</h4>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <button class="btn btn-link m-3" routerLink="/date">
            BACK
          </button>
        </div>
        <div class="col-4 text-center">

          <h6 class="text-white">Subtotal : ${{subtotal}}</h6>
        </div>
        <div class="col-4 text-right">
         
            <button class="btn btn-link m-3" routerLink="/comment">NEXT</button>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <div class="form-group row mx-auto">
  
        <div class="col-md-12 mx-auto address">
          <h3 class="text-center">Great! Now please pick a time slot that we have available</h3> 
   
        
          <div class="row test">
            <div class="col-md-6 col-sm-6 col-12 mx-auto">
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="updatetime('10.00am')">10.00 AM</button>
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="updatetime('11.00am')">11.00 AM</button>
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="updatetime('12.00pm')">12.00 PM</button>
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="updatetime('1.00pm')">1.00 PM</button>
                <button type="button" class="btn btn-secondary p-4 m-2 btn-block" (click)="updatetime('2.00pm')">2.00 PM</button>
            </div>
          </div>
           
  
  
  
        </div>
    </div>
   
 </form>
 


  
  
   

