
<app-navbar></app-navbar>
<div class="row">
<div class="jumbotron jumbotron-fluid">
    <img src="assets/image/delivery.png" class="float-right">
   <div class="container text-center">
     <h4>New Order>First Order  </h4>      
    <p>Product</p> 
 
 </div><br>

 
</div>
</div>
<div class="container-fluid text-center">

    <div class="form-group row">
  
        <div class="col-md-12 mx-auto address">
          <h3>Great! Now please pick a time slot that we have available</h3> 
   
        
          <div class="row test">
            <div class="col-md-6 col-sm-6 col-12 mx-auto">
                  
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 10:00 AM
                </label>
              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off">11:00 AM
        
                </label>
              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off" checked> 12:00 PM
                </label>
              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> 1:00 PM
        
                </label>

              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary">
                  <input type="checkbox" autocomplete="off"> 2:00 PM
          
                  </label>
                </div>
                
            </div>
          </div>
           
  
  
  
        </div>
    </div>
  
  </div>


  
  
   

