<app-navbar
[title]="title"></app-navbar>

<form class="row my-5"  #addressForm="ngForm" (submit)="addressSubmit(addressForm)">
        <div class="col-12 greyed">
                <div class="row">
                    <div class="col-12 mt-3 mb-4">
                        <h4 class="text-center text-white mb-4">{{title}}</h4>
                    </div>
                 
                    <div class="col-12">
                        <div class="row">
    
                            <div class="col-4">
    
                                <button class="btn btn-link m-3" routerLink="/placeorder">
                                    BACK
                                </button>
    
    
    
                            </div>
                            <div class="col-4 text-center">
    
                                  
                            </div>
                            <div class="col-4 text-right">
                                
                                    <button class="btn btn-link m-3" routerLink="/address">
                                       SELECT
                                    </button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="col-12">
                
                <div  class="offset-1 col-10">
                    <div class="d-flex flex-wrap">
                        <ul *ngFor="let datas of datanew | async;let i= index;">
                            <li>
                                <div class="p-2 m-3">
                                    <div class="example">
                                        <label class="checkbox-button ">
                                            <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                                            <span class="checkbox-button__control"></span>
                        
                                        </label>
                                    </div>
                                    <div class="imagee">
                                        <img src="/assets/image/icons/folder.png" class="checkimage">
                                        <p>{{ datas.building }} {{datas.visitingdate}}</p>
                                    </div>
                                </div>
                        
                            </li>
                        </ul>
                    </div>
                 
                   
                  
                </div>
                 
                    
                 <button type="button" class="btn btn1 mx-auto">DOWNLOAD</button>
              
               </div>
               