span.navbar-toggler-icon {
    float: left;
}
.grey {
    background-color: #636363 !important;
}
.navbar{
    box-shadow: none !important;
}
.nav-brand
{
    font-size: 1rem !important;
}
.imgicon
{
    width: 6vw !important;
}
.classbb
{
    width:13vw;
}