span.navbar-toggler-icon {
    float: left;
}
.grey {
    background-color: #636363 !important;
}
.navbar{
    box-shadow: none !important;
}
.imgicon
{
    height: 8vh !important;
}
.classbb
{
    height:15vh;
}