span.navbar-toggler-icon {
    float: left;
}
.grey {
    background-color: #636363 !important;
}
.navbar{
    box-shadow: none !important;
}
.nav-brand
{
    font-size: 1rem !important;
}
.imgicon
{
    width: 6vw !important;
}
.classbb
{
    width:11vw;

}
.navback{
    background-color: #636363;
}
.navbar.navbar-light .navbar-nav .nav-item .nav-link{
    color:#fff !important;
}
.navbar-light .navbar-brand {
    color:#fff;
   
}
@media screen and (max-width: 780px) {
   .imgicon{
       width:10vw;
   }
      
     .bad{
            border-radius: 50%;
            background-color: #F07C49;
            font-size: 1rem;
           
        }
}