
  <!--Navbar-->

<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark grey scrolling-navbar ie-nav">

  <!-- Navbar brand -->


  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/dashboard" mdbWavesEffect>Main
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/price" mdbWavesEffect>Price Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/placeorder" mdbWavesEffect>Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/myorder" mdbWavesEffect>My Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/myaccount" mdbWavesEffect>My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/deliveries" mdbWavesEffect>Deliveries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/profile" mdbWavesEffect>Profile</a>
      </li>



    </ul>
    <!-- Links -->


  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
