<app-navbar></app-navbar>
<div class="row grey mt-5">
    <div class="col-12 p-5">
       
            <h1 class="text-center text-white m-2">Welcome, {{name}}!</h1>
            
            <p class="text-center text-white">{{message}}</p>     
    </div>
</div>

    <div class="row mt-5">
        <div class="col-md-3 col-sm-6 col-6">
            <span class="badge bad d-none">1</span>
            <div class="circle-text">
                <a routerLink="/placeorder">
                    <img src="assets/image/icons/1.png" class="img-fluid "> 
                    <h6>
                    PLACE ORDER
                    </h6>
                </a>

            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-6 p-2">
                <span class="badge bad">1</span>
            <div class="circle-text">
                <a routerLink="/myorder">
                    <img src="assets/image/icons/2.png" class="img-fluid " > 
                    <h5>
                        MY ORDERS
                    </h5>   
                </a>
            </div>
    </div>
   




<div class="col-md-3 col-sm-6 col-6 p-2">
<span class="badge bad">1</span>
<div class="circle-text">
   
    <a routerLink="/myaccount">
    <img src="assets/image/3.png" class="img-fluid " > 

    <h5>  MY ACCOUNT</h5>
    </a>

   
    </div>
</div>
<div class="col-md-3 col-sm-6 col-6 p-2">
<span class="badge bad">3</span>
<div class="circle-text">
    <a routerLink="/deliveries">
        <img src="assets/image/4.png" class="img-fluid " > 

        <h5>  DELIVERIES</h5>
    </a>
   
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto"></i>
        <p>Slide to View Prices</p>
    
      </div>
</div>