<div class="col-md-4 offset-md-4">
    <span class="error" *ngIf="error" >{{ error }}</span>
    <form class="col-md-12 mx-auto" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <div class="form-group">

            <input type="email" class="form-control"  placeholder="Email" required  (ngModel)="email" name="email">
            <input type="password" class="form-control"  placeholder="Password" required (ngModel)="password" name="password">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn1 mx-auto" [disabled]="!loginForm.valid">SIGN IN</button>


            <button type="button" class="btn btn2" routerLink="/register">REGISTER ME</button>
            <button type="button" class="btn btn2" routerLink="/forget">FORGET INFO</button>

        </div>



    </form>
</div>