
.error
{
    color:red;
}
input{
    background-color: #fff;
    line-height: 6vh;
    opacity: .9;
    border: 2px solid #434343;
}
.btn1
	{
		color: white;
		background-color:#F07C49;
        border-radius:20vh;
    }

    .btn2{
        color: white;
        background-color:#A1A1A1;
        border-radius:20vh;
    }    
    @media screen and(max-width:768){
        .btn1
	{
		color: white;
		background-color:#F07C49;
        border-radius:20vh;
    }
    
    }
    
