
.error
{
    color:red;
}
input{
    background-color: #fff;
    line-height: 10vh;
    opacity: .8;
}
.btn1
	{
		color: white;
		background-color:#F07C49;
        border-radius:20vh;
    }

    .btn2{
        color: white;
        background-color:#A1A1A1;
        border-radius:20vh;
    }    
    
    
