/*----- Componant: Top Navigation Bar ----- */
.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F07C49;
    z-index: 1030;
    padding-right: 15px;
  }
  .navbar{
      background-color: #F07C49;
  }
  .app-header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    color: #fff;
    text-align: center;
    font-family: 'Niconne';
    padding: 0 15px;
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
  }
  p{
      color:#fff;
  }
  .userprofile{
      border-radius: 50%;
  }
  .app-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    width: 25vw;
    overflow: auto;
    z-index: 10;
    background-color: #656565;
  }
  .app-search {
    position: relative;
    display: flex;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
   
  }
  .app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
  
  }
  .app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  
  .app-menu__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 15px;
    font-size: 1.08em;
    border-left: 3px solid transparent;
    -webkit-transition: border-left-color 0.3s ease,
   background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease,
   background-color 0.3s ease;
    transition: border-left-color 0.3s ease,
   background-color 0.3s ease;
    color: #fff;
  }
  
  .app-menu__item.active, .app-menu__item:hover, .app-menu__item:focus {
    background: #0d1214;
    border-left-color: #009688;
    text-decoration: none;
    color: #fff;
  }
  
  .app-menu__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25px;
  }
  
  .app-menu__label {
    white-space: nowrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  
  .treeview.is-expanded [data-toggle='treeview'] {
    border-left-color: #009688;
    background: #0d1214;
  }
  
  .treeview.is-expanded .treeview-menu {
    max-height: 100vh;
  }
  
  .treeview.is-expanded .treeview-indicator {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  .treeview-menu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    background: #2a383e;
  }
  
  .treeview-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 5px 5px 20px;
    font-size: 1em;
    color: #fff;
  }
  
  .treeview-item.active, .treeview-item:hover, .treeview-item:focus {
    background: #0d1214;
    text-decoration: none;
    color: #fff;
  }
  
  .treeview-item .icon {
    margin-right: 5px;
  }
  
  .treeview-indicator {
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  
 

  
  .app-search__button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    cursor: pointer;
  }
  .app-nav__item {
    display: block;
    padding: 15px;
    line-height: 20px;
    color: #fff;
  }
  .fa{
      font-size:1.5rem;
  }
  a.navabar-brand {
    color: #fff;
}
 
  .app-sidebar__toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.4;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  .app-sidebar__user {
   
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
  }
  
 
 
  
  
  .app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  
  .app-menu__item {
    position: relative;
   
    padding: 12px 15px;
    font-size: 1.08em;
    border-left: 3px solid transparent;
       color: #fff;
  }
  

  
  
  @media (min-width: 768px) {
    .app-header {
      padding-right: 30px;
    }
    @media print {
        .app-header {
          display: none;
        }
      }
  }
  @media (max-width: 767px) {
    .app-sidebar__toggle {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
    }
  }
  
  .app-sidebar__toggle:before {
    content: "\f0c9";
    font-size: 21px;
  }
  
  .app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
    color: #fff;
    background-color: #00635a;
    text-decoration: none;
  }
  