    <div class="topnav"><!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink">
      <a class="navabar-brand app-header__logo" href="#">
       Agent-Sync
      </a>
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    
       <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="app-search">
            <input class="app-search__input" type="search" placeholder="Search">
            <button class="app-search__button"><i class="fa fa-search"></i></button>
          </li>
          <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
            <i class="fa fa-bell-o "></i></a>
            </li>
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications">
                <i class="fa fa-user "></i></a>
                </li>
          
        </ul>
    
        </div>
      </nav>
    </div>
      <div class="sidebar">
      <aside class="app-sidebar text-center">
          <div class="app-sidebar__user">
            <img class="userprofile" src="assets/image/admin.jpg" alt="User Image">
            <div>
              <p class="app-sidebar__user-name">Linda Green</p>              
              <p class="app-sidebar__user-designation">Manager</p>
            </div>
          </div>
          <ul class="app-menu">
      
       
       
              <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Tables</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                  <li><a class="treeview-item" href="table-basic.html"><i class="icon fa fa-circle-o"></i> Basic Tables</a></li>
                  <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i> Data Tables</a></li>
                </ul>
              </li>
              <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                
                  <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i> Login Page</a></li>
                 
                </ul>
              </li>
            </ul>
       
        </aside>
      </div>