
   <app-navbar></app-navbar>
 <div class="row greyed py-5">
    <div class="col-12 pt-4">
        
            <h4 class="text-center text-white">Place New Order</h4>
            
         
              <a routerLink="/dashboard" class="text-white">
               <i class="fa fa-arrow-left float-left"></i>
             
             
            </a>
            <p class="text-center text-white">Orders are itemized by property, per unit.</p>
          
            
        
    </div>
</div>
<div class="row mx-auto">
  <div class="col-12 p-4">
    <h3 class="text-center">What type of property is this?</h3>
  </div>
  
  <div class="col-12">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-6 p-2">
          <a routerLink="/unitnumber" (click)="onselecthouse()"><img src="assets/image/pic2.png" class="img-circle img-fluid" alt="House" > </a>

        
      </div>
      <div class="col-md-3 col-sm-6 col-6 p-2">
          <a routerLink="/unitnumber" (click)="onselecttown()"><img src="assets/image/pic3.png"  class="img-circle img-fluid" alt="Townhome" > </a>
     
      </div>
      <div class="col-md-3 col-sm-6 col-6 p-2">
          <a routerLink="/unitnumber" (click)="onselectapt()"><img src="assets/image/pic4.png"  class="img-circle img-fluid" alt="Apartment" > </a>
        
      </div>
      <div class="col-md-3 col-sm-6 col-6 p-2">
          <a routerLink="/unitnumber" (click)="onselectcommercial()"><img src="assets/image/pic.png"   class="img-circle img-fluid" alt="Commercial" > </a> 
        
      </div>
    </div>
  </div>

</div>
<div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto"></i>
        <p>Slide to view prices</p>
    
      </div>
</div>
  
 
       
