

      <app-admin-header></app-admin-header>
  
      <br>
     
     <div class="row mt-4 ">
         <div class="d-none d-md-block d-lg-block d-xl-block col-md-3">
             <app-admin-sidenav></app-admin-sidenav>
         </div>
         <div class="col-md-9 col-sm-12 my-3 bg-light">
             <div class="row ">
               <div class="col-md-12 p-2 bg-white">
                   <h3 class="text-dark">Payment</h3>
               </div>
          
             </div>
       
             <div class="row">
                 <p>Show all users</p>
             </div>
         
         </div>
     </div>
     
     