

 <app-navbar></app-navbar>
 <div class="row">
 <div class="jumbotron jumbotron-fluid">
    <img src="assets/image/delivery.png" class="float-right">
    <div class="container text-center">
      <h4>New Order > First Unit </h4>      
     <p>Order Review</p> 
  
  </div><br>

  <div class="row">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-sm-4 md-4 col-4 con">
         
   <a routerLink="/comment"> <h4>BACK</h4></a>
          
        </div>
        <div class="col-sm-4 md-4 col-4 con">
          <h4>Subtotal :<p>{{(data | async)?.price }}</p></h4>
        </div>
       
      
      </div>
    </div>

  </div>
</div>
</div>
<div class="container">
    <h1>All set? Please review your order below
      </h1>
   
  <p>{{(data | async)?.building }}</p>
  <p>{{(data | async)?.street }}</p>
  <p>{{(data | async)?.city }}</p>
  <p>{{(data | async)?.zip }}</p>
  <p>{{(data | async)?.squarefeet }}</p>
  
  <p>{{(data | async)?.comments }}</p>
 
</div>
<div class="row">
    <button type="button" class="btn btn1 mx-auto" routerLink="/completenew">ADD TO CART</button>
  </div>


    

