
<app-navbar></app-navbar>
<div class="row">
<div class="jumbotron jumbotron-fluid">
    <img src="assets/image/delivery.png" class="float-right">
   <div class="container text-center">
     <h4>New Order>First Order  </h4>      
    <p>Product</p> 
 
 </div><br>

 <div class="row">
   <div class="container-fluid">
     <div class="row text-center">
       <div class="col-sm-4 md-4 col-4 con">
        
  <a routerLink="/squarefeet"><h4>BACK</h4></a>
         
       </div>
       <div class="col-sm-4 md-4 col-4 con">
         <h4>Subtotal :</h4>
       </div>
       <div class="col-sm-4 md-4 col-4 con">
 <a routerLink="/access"><h4>NEXT</h4></a>
       </div>
     
     </div>
   </div>

 </div>
</div>
</div>
<div class="row mx-auto mt-2">
 <h3>What products are needed at this unit?</h3> 
 
<h2>*Please select all that apply.</h2>
   
</div>
<div class="row test">
  
      <div class="col-md-12 text-center">
          <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off"> Photography
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off">Video Tour
      
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off" checked> 360 Tour
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
              <input type="checkbox" autocomplete="off"> Single Property Website
      
              </label>
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="checkbox" autocomplete="off"> Floor Plans (B&W)
        
                </label>
              </div>
              <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary">
                  <input type="checkbox" autocomplete="off"> Floor Plans (Color)
          
                  </label>
                </div>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                    <input type="checkbox" autocomplete="off"> Floor Plans (Color + Furniture)
            
                    </label>
                  </div>
                  <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary">
                      <input type="checkbox" autocomplete="off"> Double-Sided Flyer


              
                      </label>
                    </div>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                        <input type="checkbox" autocomplete="off"> Brochure (8 Page)
                
                        </label>
                      </div>
                      <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-secondary">
                          <input type="checkbox" autocomplete="off"> Brochure (4 Page)
                  
                          </label>
                        </div>
        
      </div>

  </div>
  

  <div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-angle-up mx-auto"></i>
        <p class="slidep">Slide to view prices</p>
      </div>
</div>

  
  
   

