
<app-navbar
[title]="title"></app-navbar>
<form class="row" #productsform="ngForm" (submit)="productspush(productsform)">
  <div class="col-12 greyed">
    <div class="row mt-5">
      <div class="col-12 mt-3">
        <h4 class="text-center text-white my-4">{{title}}</h4>
      </div>
      <div class="col-12">
        <h4 class="text-center otopic mb-4">{{(property | async)?.building}} Products</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-link m-3" routerLink="/squarefeet">
              BACK
            </button>
          </div>
          <div class="col-4 text-center">
             <div *ngIf="(property | async)?.squarefeet==='5251';else defsubtotal">
              <h6 class="text-light">Subtotal :<span class="otopic">{{Custom}}</span> </h6>
             </div>
             <ng-template #defsubtotal>
               <ng-container *ngIf="(property | async)?.ordersprice===undefined;else current">
                  <h6 class="text-light">Subtotals : <span class="otopic">${{subtotal}}</span></h6>
               </ng-container>
             
             </ng-template>
             <ng-template #current>
              
              <h6 class="text-light">Subtotal :<span class="otopic">${{(property | async)?.ordersprice}}</span> </h6>
               
             </ng-template>
             
          </div>
          <div class="col-4 text-right">

            <div *ngIf="(property|async)?.productsneeded===undefined;else valids">
              <button class="btn btn-link m-3" type="submit">NEXT</button>
            </div>
            <ng-template #valids>
              <button class="btn btn-link m-3" type="submit">NEXT</button>
              <!-- <button routerLink="/addons" class="btn btn-link m-3">NEXT</button> -->

            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-12">
  
    <div class="offset-1 col-10 col-xs-12 mx-auto p-2">
      <h3 class="text-center my-4">What products are needed at this unit?</h3>
  
      <h6 class="text-center">*Please select all that apply.{{orders}}</h6>
     
       
          <p>{{(property | async)?.productsneeded}}</p>
          
      
      <div [ngSwitch]="(property | async)?.squarefeet" class="row test">                
                <div class="offset-1 col-10 col-xs-12 mx-auto">
                 
                    <div *ngSwitchCase="'0-750'">
                    
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 145,'Photography')">Photography $145</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 255,'Video Tour')">Video Tour $255</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 125 ,'360 Tour')">360 Tour $125</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 125,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $125</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 165,'Floor Plans (Color)')">Floor Plans (Color) $165</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 195,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $195</button>
                    
                    </div>
                    <div *ngSwitchCase="'751-1500'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 175,'Photography')">Photography $175</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 255,'Video Tour')">Video Tour $255</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 155 ,'360 Tour')">360 Tour $155</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 155,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $155</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 195,'Floor Plans (Color)')">Floor Plans (Color) $195</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 215,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $215</button>
                    </div>
                    <div *ngSwitchCase="'1501-2250'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 205,'Photography')">Photography $205</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 335,'Video Tour')">Video Tour $335</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 155 ,'360 Tour')">360 Tour $155</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 185,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $185</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 195,'Floor Plans (Color)')">Floor Plans (Color) $195</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 215,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $215</button>
                    </div>
                    <div *ngSwitchCase="'2251-3000'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 235,'Photography')">Photography $235</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 335,'Video Tour')">Video Tour $335</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 215 ,'360 Tour')">360 Tour $215</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 215,'Floor Plans (B&W)')">
                        Floor Plans (B&W) $215</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 245,'Floor Plans (Color)')">Floor Plans (Color) $245</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 275,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $275</button>
                    </div>
                    <div *ngSwitchCase="'3001-3750'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 275,'Photography')">Photography $275</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 415,'Video Tour')">Video Tour $415</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 245 ,'360 Tour')">360 Tour $245</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 245,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $245</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 275,'Floor Plans (Color)')">Floor Plans (Color) $275</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 305,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $305</button>
                    </div>
                    <div *ngSwitchCase="'3751-4500'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 305,'Photography')">Photography $305</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 415,'Video Tour')">Video Tour $415</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 275 ,'360 Tour')">360 Tour $275</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 275,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $275</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 305,'Floor Plans (Color)')">Floor Plans (Color) $305</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 335,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $335</button>
                    </div>
                    <div *ngSwitchCase="'4501-5250'">
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 335,'Photography')">Photography $335</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 415,'Video Tour')">Video Tour $415</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 305 ,'360 Tour')">360 Tour $305</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 305,'Floor Plans (BnW)')">
                        Floor Plans (B&W) $305</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 335,'Floor Plans (Color)')">Floor Plans (Color) $335</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 375,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) $375</button>
                    </div>
                    <div *ngSwitchCase="'5251'">
                    
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0,'Photography')">Photography </button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0,'Video Tour')">Video Tour </button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0 ,'360 Tour')">360 Tour</button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0,'Floor Plans (BnW)')">
                        Floor Plans (B&W) </button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0,'Floor Plans (Color)')">Floor Plans (Color) </button>
                      <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 0,'Floor Plans (Color + Furniture)')">
                        Floor Plans (Color + Furniture) </button>
                    
                    </div>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 85,'Single Property Website')">Single Property Website $85</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 75,'Double-Sided Flyer 50')">
                      Double-Sided Flyer 8.5*11 50 $75</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 95,'Double-Sided Flyer 100')">Double-Sided Flyer 8.5*11 100 $95</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 215,'Brochure (8 Page) 25')">Brochure 8.5*11(8 Page) 25 $215</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 245,'Brochure (8 Page) 50')">Brochure 8.5*11(8 Page) 50 $245</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 125,'Brochure (4 Page) 25')">
                      Brochure 8.5*11(4 Page) 25 $125</button>
                    <button type="button" class="btn btn1 p-3 mb-2 btn-block" (click)="toggleClass($event, 155,'Brochure (4 Page) 50')">Brochure 8.5*11(4 Page) 50 $155</button>
                    
                </div>
      </div>
  
    </div>
  
  </div>
</form>




 

  
  
   

