h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}

#headerback{

    background-image: url('/assets/image/background.jpg');
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    margin: auto;
    background-size: cover;
}


.btn
	{
        color: #fff;	
    }
    a {
        color: #F07C49;
    }
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    p{
        color:#F07C49;
    }
  .sidecon{
      padding-left: 6rem;
      }
.numinput{
    width:44vw;
    line-height: 3.5rem;
    border: 2px solid #434343;
}

.btn2{
    color:#fff;
    font-size: 1rem;
}
.btn-secondary {
    background-color: #F07C49!important;
    color: #fff !important;
    padding: 2rem;
    width: 23rem;
    margin-left:0rem;
}
.btn.btn-link {
    color: #fff!important;
}
.slidepara{
    color:#5F5F5F;
}
@media screen and (max-width: 780px) {
 
    .btn
	{
		color: white;
		background-color:#F07C49;
        padding: 2rem;
        width:24rem;
 
       
        
		
    }
   
    }	
    @media screen and (max-width: 450px) {
 
        .btn
        {
            color: white;
            background-color:#F07C49;
            padding: 2rem;
            width:18rem;
            margin-left: 0rem;
           
            
            
        }
       
        }	
     