h1
{ 
	color: #434343;
	font-size: 2rem;
    text-align:center;
    line-height:100%;
    
 
}
.btn1
	{
		color: white;
		background-color:#F07C49;
    
     
      
		
    }



.btn
	{
		color: white;
		background-color:#F07C49 !important;
        padding: 2rem;
         width: 31rem;
        
		
    }
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
        color: #fff !important;
        background-color: red !important;
        border-color: #4e555b !important;
    }   
   
    h4 {
        color: #fff;
        font-size: 1rem;
    }
    .slidep{
        color:#5F5F5F;
    }
    
    p{
        color:#F07C49;
    }
    .fa{
        font-size: 3rem;
        margin-top: 4rem;
  
        }
        ul>li
            {
                list-style-type: none;
            }

        
  

@media screen and (max-width: 780px) {
    .btn
	{
		color: white;
		background-color:#F07C49;
      
         width: 22rem;
       
		
    }
    .fa{
         
  
        margin-top: 2rem;
        }
    
    }