<div class="row sidenav">
  <ul class="navbar-nav navbar-sidenav px-3 " #exampleAccordion>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a class="nav-link mt-4" routerLink="/admin-dashboard" >
      <i class="fa  fa-dashboard text-white"></i>
      <span class="nav-link-text text-white">Dashboard</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
     
      <a class="nav-link" routerLink="/admin-users" >
        <i class="fa fa-user text-white"></i>
      <span class="nav-link-text text-white">Users</span>
    </a>
  </li>
 
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders">
      <a class="nav-link" routerLink="/admin-orders">
        <i class="fa fa-first-order text-white"></i>
      <span class="nav-link-text text-white">Orders</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders">
    <a class="nav-link" routerLink="/admin-orders">
      <i class="fa fa-first-order text-white"></i>
      <span class="nav-link-text text-white">Orders History</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Payment">
    <a class="nav-link text-white" routerLink="/admin-payment">
        <i class="fa fa-shopping-cart text-white"></i>
      <span class="nav-link-text text-white">Payment</span>
    </a>
   
  </li>
 
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
    <a class="nav-link text-white" routerLink="/admin-login">
      <i class="fa  fa-link"></i>
      <span class="nav-link-text">login</span>
    </a>
  </li>
  </ul>
</div>