@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body
{
    
    
   font-family: 'Lato', sans-serif;
   
  
  font-style: normal;
}
p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #EBEBEB;
    padding-top: 4em;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
}
h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;

}

.btn.btn-link {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    color: #fff;
    
}
.jumbotron.jumbotron-fluid {
    background-color:#636363;
    color:#FFFFFF;
    margin-top: 3rem;
    width:100rem;
}
button {
    background: #008FEF;
    color: white;
}
/* You can add global styles to this file, and also import other style files */
.jumbotron.jumbotron-fluid {
    background-color:#636363;
    color:#FFFFFF;
    margin-top: -1rem;
    width:100rem;
}
.fa{
    font-size: 2rem;
    margin-top: 4rem;
}
@media screen and (max-width: 780px) {
    
    .fa{
    font-size: 1rem;  

    margin-top: 2rem;
    }
   
    }


