@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
p {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #EBEBEB;
    padding-top: 5em;
}

* {
    font-family: 'Raleway';
}
.jumbotron.jumbotron-fluid {
    background-color:#636363;
    color:#FFFFFF;
    margin-top: 3rem;
    width:100rem;
}
button {
    background: #008FEF;
    color: white;
    padding: 1.2em;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    cursor: pointer;
}

.loading {
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    position: fixed;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
}

.loading:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #E2E4E6;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}