
  <app-admin-header></app-admin-header>
  
  <br>
 
 <div class="row mt-4 ">
     <div class="d-none d-md-block d-lg-block d-xl-block col-md-3 sidenav">
         <app-admin-sidenav></app-admin-sidenav>
     </div>
     <div class="col-md-9 col-sm-12 my-3 bg-light">
        <div class="row mt-5">
            <div class="col-md-6 col-lg-3">
                <a class="nav-link" routerLink="/users" >
              <div class="widget-small primary coloured-icon">
                 
                <i class="icon fa fa-users fa-3x"></i>
                
                <div class="info">
                  <h4>Users</h4>
                  <p><b>5</b></p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3"><a class="nav-link" routerLink="/orders" >
              <div class="widget-small info coloured-icon">
                  
                <i class="icon fa fa-first-order fa-3x"></i>
                
                <div class="info">
                  <h4>Orders</h4>
                  <p><b>25</b></p>
                </div>
              </div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3"><a class="nav-link" routerLink="/users" >
              <div class="widget-small warning coloured-icon">
                  
                <i class="icon fa fa-user-circle   fa-3x"></i>
                
                <div class="info">
                  <h4>Admin</h4>
                  <p><b>10</b></p>
                </div>
              </div></a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a class="nav-link" routerLink="/admin-payment" >
              <div class="widget-small danger coloured-icon">
                  
                    <i class="icon fa fa-credit-card fa-3x"></i>
                 
                <div class="info">
                  <h4>Payment</h4>
                  <p><b>500</b></p>
                </div>
              </div> </a>
            </div>
          </div>
   </div>
   </div>